@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world! This was updated in VS Code, the synced with GitHub, then published to static web site</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
